.back {
  background-image: url('../animalDev/background.png');
  background-position: center;
  height: calc(100vh - 80px);
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  /* zoom: 103%; */
  position: relative;
}